.flsrtooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted var(--color_border);
    /* Add dots under the hoverable text */
    cursor: pointer;
}

/* Tooltip text */
.flsrtooltiptext {
    visibility: hidden;
    /* Hidden by default */
    background-color: var(--color_hover);
    color: var(--color_text);
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    /* Ensure tooltip is displayed above content */
}

/* Show the tooltip text on hover */
.flsrtooltip:hover .flsrtooltiptext {
    visibility: visible;
}

.vertical_th {
    display: flex;
    flex-direction: column;
}

.vertical_wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
}

.vertical_wrap span {}


highlight {
    background-color: var(--infocard_text_highlight);
}

th {
    z-index: 1;
}

.line_through {
    text-decoration: line-through;
}

.line_underline {
    text-decoration: underline;
}

.techcell {
    display: block;
    max-width: 150px;
    overflow: hidden;
}

.htmx-indicator {
    opacity: 0;
    visibility: hidden;
    display: none;
    position: relative;
}

.htmx-request .htmx-indicator,
.htmx-request.htmx-indicator {
    opacity: 1;
    visibility: visible;
    transition: opacity 200ms ease-in;
    display: block;
    position: absolute;
    top: 0;
}

.loader {
    border: 8px solid color-mix(in srgb, var(--color_hover) 80%, transparent);
    border-radius: 50%;
    border-top: 8px solid color-mix(in srgb, #3498db 80%, transparent);
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}