go.work*
**/*.wasm
web/static/export/*
**/*_templ*
/build/
**/id_rsa*
**/cover.out
**/dist/*
**/ruby_home/
**/gems/
!.vscode/
!vendor/**
**/.terraform/
**/.git
**/version.txt
**/docs.go
**/swagger.json
**/swagger.yaml
