go.work*
*.wasm
web/static/export/*
*_templ*
/build/
id_rsa*
cover.out
dist/*
ruby_home/
gems/
!.vscode/
!vendor/**
.terraform/
terraform.tfstate*
check/
generated*
openapi-generator-cli.jar
*prof
node_modules/
.venv/
.idea/
