package web

import "fmt"

templ RedirectPage(msg string , site_url string) {
    <!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<title>{ "darkstat oauth" }</title>
			<meta http-equiv="refresh" content={ fmt.Sprintf("3; url=%s", site_url) } />
		</head>
		<body >
			{ msg }
		</body>
	</html>
}
