package tab

templ PageHint() {
	<style>
        .page_hint p {
            margin-left: 5px;
            margin-right: 5px;
            font-size: 1em;
        }
    </style>
	<div class="page_hint">
		<p>
			{ children... }
		</p>
	</div>
}
