package tab

templ PageHint() {
    <style>
        .page_hint p {
            margin-left: 5px;
            margin-right: 5px;
        }
    </style>
    <div class="page_hint">
        <p>
            { children... }
        </p>
    </div>
}