package front

import (
	"github.com/darklab8/fl-darkstat/darkstat/common"
	"github.com/darklab8/fl-configs/configs/configs_export"
)

var (
	Smth = "abc"
)

templ BasesT(bases []configs_export.Base) {
	@common.Html5() {
		for _, base := range bases {
			<div>{ base.Nickname }</div>
		}
	}
}
