package front

import (
	"github.com/darklab8/fl-darkstat/darkstat/front/fronttypes"
	"strconv"
	"github.com/darklab8/fl-darkstat/darkstat/front/urls"
	"github.com/darklab8/fl-darkstat/darkstat/common/types"
	"github.com/darklab8/fl-configs/configs/configs_export"
	"fmt"
	"strings"
)

func MineDetailedUrl(mine configs_export.Mine) string {
	return "mines/mines_base_" + strings.ToLower(mine.Nickname)
}

templ MinesTable(mines []configs_export.Mine, pinm PinMod, disco fronttypes.DiscoveryIDs) {
	<table class="sortable">
		<thead>
			<tr>
				<th style="width:200px;">Mine</th>
				if pinm == PinMode {
					<th style="min-width:50px;">Select</th>
					<th style="min-width:50px;">Select</th>
				}
				@ThDisco(disco)
				<th style="width:50px;">Price</th>
				<th style="width:50px;">Buyable</th>
				<th style="width:50px;">Ammo Price</th>
				<th style="width:50px;">Hull Dmg</th>
				<th style="width:50px;">Shield Dmg</th>
				<th style="width:100px;">Value</th>
				<th style="width:100px;">Refire</th>
				<th style="width:50px;">Detonation Dist.</th>
				<th style="width:50px;">Radius</th>
				<th style="width:50px;">Seek Dist.</th>
				<th style="width:50px;">Top Speed</th>
				<th style="width:50px;">Acceleration</th>
				<th style="width:50px;">Linear Drag</th>
				<th style="width:50px;">Lifetime</th>
				<th style="width:50px;">Owner Safe</th>
				<th style="width:50px;">Toughness</th>
				<th style="width:50px;">Hit Pts</th>
				<th style="width:50px;">Lootable</th>
				<th style="width:50px;">Nickname</th>
				<th style="width:100px;">Name ID</th>
				<th style="width:100px;">Info ID</th>
				<th style="max-width:100%;"></th>
			</tr>
		</thead>
		<tbody>
			for _, mine := range mines {
				<tr
					id={ string(pinm) + "bottominfo_" + mine.Nickname }
					hx-get={ types.GetCtx(ctx).SiteRoot + MineDetailedUrl(mine) }
					hx-trigger="mousedown"
					hx-target={ "#table-bottom-main" + string(pinm) }
					hx-swap="innerHTML"
					preload="mouseover"
					class={ templ.KV("hidden", pinm == PinMode) }
				>
					@PinTd(mine.Nickname, mine.Name, pinm)
					@PinSelectLeftRight(pinm, MineDetailedUrl(mine))
					@TdDisco(disco, mine.Nickname, mine.DiscoveryTechCompat)
					<td>{ strconv.Itoa(mine.Price) } </td>
					<td>{ strconv.FormatBool(configs_export.Buyable(mine.Bases)) }</td>
					<td>{ strconv.Itoa(mine.AmmoPrice) } </td>
					<td>{ strconv.Itoa(mine.HullDamage) }</td>
					<td>{ strconv.Itoa(mine.ShieldDamage) }</td>
					<td>{ fmt.Sprintf("%.2f",mine.Value) }</td>
					<td>{ fmt.Sprintf("%.2f", mine.Refire) }</td>
					<td>{ fmt.Sprintf("%.2f", mine.DetonationDistance) }</td>
					<td>{ fmt.Sprintf("%.2f",mine.Radius) }</td>
					<td>{ strconv.Itoa(mine.SeekDistance) }</td>
					<td>{ strconv.Itoa(mine.TopSpeed) }</td>
					<td>{ strconv.Itoa(mine.Acceleration) }</td>
					<td>{ fmt.Sprintf("%.6f",mine.LinearDrag) }</td>
					<td>{ fmt.Sprintf("%.2f",mine.LifeTime) }</td>
					<td>{ strconv.Itoa(mine.OwnerSafe) }</td>
					<td>{ fmt.Sprintf("%.2f",mine.Toughness) }</td>
					<td>{ strconv.Itoa(mine.HitPts) }</td>
					<td>{ strconv.FormatBool(mine.Lootable) }</td>
					<td>{ mine.Nickname } </td>
					<td>{ strconv.Itoa(mine.IdsName) } </td>
					<td>{ strconv.Itoa(mine.IdsInfo) } </td>
					@TdInfoCardClick(configs_export.InfocardKey(mine.Nickname), mine.Nickname, pinm)
				</tr>
			}
		</tbody>
	</table>
}

// https://www.cssscript.com/minimalist-table-sortable/#:~:text=Description%3A-,sorttable.,clicking%20on%20the%20table%20headers
// https://www.cssscript.com/fast-html-table-sorting/
templ MinesT(mines []configs_export.Mine, mode2 ShowEmpty, disco fronttypes.DiscoveryIDs) {
	@TabLayout() {
		@TabMenu(urls.Mines, mode2)
		@TabContent() {
			<div class="splitter">
				<div id="table-wrapper">
					<div id="table-top">
						@FilterBar(disco)
						<div id="table-top-main">
							@MinesTable(mines, MainMode, disco)
						</div>
						<div id={ "table-top-main" + string(PinMode) } class="hidden">
							@MinesTable(mines, PinMode, disco)
						</div>
					</div>
					<div id="table-bottom">
						<div id="table-bottom-main">
							@GoodAtBaseSharedT(ShowPricePerVolume(false))
						</div>
						<div id={ "table-bottom-main" + string(PinMode) } class="hidden">
							@GoodAtBaseSharedT(ShowPricePerVolume(false))
						</div>
					</div>
				</div>
				<div id="infocard_view">
					@InfocardShared()
				</div>
			</div>
		}
	}
}
