/* Tooltip container */
.tooltip {
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: left;
    padding: 5px;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;

    opacity: 0;
    transition: 0.0s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    z-index: 3;
}


.vertical_th {
    display: flex;
    flex-direction: column;
}


.card {
    background-color: blue;
    height: 50px;
    width: 50px;
    display: block;
}

.card[data-size="big"] {
    width: 100px;
}

.card[data-size="small"] {
    width: 25px;
}

/* .contents div[data-ids-info]:hover,
.contents div[data-jump-dest]:hover,
.contents div.mineable:hover  */
system-:hover {
    box-shadow: 0em 0em 0.4em 0.2em rgb(237, 112, 7), inset 0em 0em 0.15em 0em rgb(237, 112, 7);
    color: rgb(255, 167, 6);
}