<div class="container-fluid">
    <table class="table table-striped table-sm table-hover table-responsive-sm" id="my_friends">
        <thead>
            <tr>
                {% for field in fields %}
                <th>{{field}} </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for commodity in data %}
            <tr>
                {% for field in fields %}
                <td>
                    <element onclick="getSecondary({{commodity.id}})">
                        <p id="para1">{{ commodity|get_item:field }}</p>
                    </element>
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>